.nft-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
}

.nft-card {
    margin: 14px;
    margin-top: 20px;
}

.title {
    text-align: center;
    font-family: "Press Start 2P", "VT323";
    color: white;
    font-size: 30px;
    margin: 30px;
}

.comment {
    font-size: 14px;
}